# Deriv API
DERIV_API_TOKEN=eYf2ydKTUpN2cgz
DERIV_APP_ID=1
DERIV_WS_URL=wss://ws.binaryws.com/websockets/v3

# Servidor
HOST=0.0.0.0
PORT=8000
DEBUG=false

# Database
DB_PATH=src/state/trades.db
AGENTS_JSON_PATH=src/state/agents.json
